@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.image-bg {
    height: clamp(80vh, 100vh, 100vh);
    background: no-repeat center/clamp(100vh, 100vw, 900px) url("../images/pexels-tatiana-аzatskaya-3616232.jpg") lightgray;
    /* Shorthand for the following properties: */
    /* background-repeat: no-repeat; */
    /* background-position: calc(max(-200px, -25vw)) calc(max(-300px, -25vh)); */
    /* background-size: clamp(100vh, 100vw, 900px); */
    /* background-image: url("../images/pexels-tatiana-аzatskaya-3616232.jpg"); */
    /* background-color: lightgray; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;

}

.image-bg a {
    color: #eee;
}

.image-bg a:hover {
    color: #ccc;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    margin-top: 2.5rem;
}

.logo-container h1 {
    font-size: 4.5rem;
    font-family: 'Dancing Script', cursive;
}

#cat-logo {
    height: 7rem;
    -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
}

abbr {
    color: darkred;
}

#required-field {
    color: darkred;
}

.main-container {
    max-width: max(60vw, 200px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    background-color: rgb(252, 252, 252);
}

.form-preface {
    padding: 0 3rem;
    font-size: 1.25rem;
    font-weight: bolder;
}

.form-container {
    padding: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    background-color: white;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.input-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: .5rem;
}

.input-group label {
    display: block;
    
    text-transform: uppercase;
    color:rgb(51, 51, 51);
    font-size: .9rem;
    margin: .2rem 0;
}

.input-group input {
    width: 100%;

    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 1.5rem;
    font-size: 1rem;
}

.input-group input:invalid {
    outline: 2px solid rgba(255, 0, 0, .75);
}

.form-submit {
    padding: 0 3rem;
}

.form-submit button {
    border: none;
    border-radius: 8px;

    padding: .75rem 3rem;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    background-color: rgb(255, 159, 68);

    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);

    cursor: pointer;
}

.form-submit button:hover {
    background-color: rgb(216, 136, 61);
    transition: .5s;
}

.form-submit a {
    color: rgb(245, 164, 88);
    font-weight: bold;
    text-decoration: none;
}


/* Wrap for smaller/thinner screens */
@media only screen and (max-width: 960px) {

    body {
        flex-wrap: wrap;
    }

    .logo-container {
        margin-top: 0;
    }

    .photo-credit {
        background-color: rgba(0, 0, 0, .3);
    }

    .main-container {
        max-width: 100%;
    }

    .form-submit {
        text-align: center;
    }

    .image-bg {
        height: 200px;
        background-size: 100% auto;
    }
}